@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap');

/* GLOBAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;


}

h1 {
    font-size: 50px;
    line-height: 64px;
    color: black;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: black;
}

h4 {
    font-size: 30px;
    color: black;

}

h6 {
    font-weight: 600;
    font-size: 12px;
}

p {
    font-size: 16px;
    color: rgb(80, 173, 255);
    margin: 15px 0 20px 0;
}

.section-p1 {
    padding: 40px 80px;
}
.section-m1 {
    margin: 40px 0;
}

button.normal {
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #1a1a1a;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;

}

button.white {
    font-size: 14px;
    font-weight: 600;
    padding: 11px 18px;
    color: #1a1a1a;
    background-color:   transparent;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid white;
    outline: none;
    transition: 0.2s;

}

body {
    width: 100%;
}

.logo {
    width: 100px;
    height: 80px;
}

/* header starts */

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:  5px 50px;
    background-color: azure ;
    box-shadow: 0 5px 25px rgba(146, 146, 146, 0.562);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;

}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

/* shopping bag*/
#navbar li a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 200;
    color: rgb(83, 111, 135);
    transition: 0.3s ease;

}

#navbar li a:hover,
#navbar li a.active {
    color: rgb(203, 211, 218);

}
/* navbar underline*/
#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 40px;
    height: 2px;
    background: rgb(203, 211, 218);
    position: absolute;
    bottom: -4px;
    left: 20px;
}

/* hero section*/

#hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("img/herobg.webp");
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: top 5% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#hero h4 {

    padding-bottom: 15px;

}
#hero h1 {

    color:rgb(42, 32, 32);
}

.button {
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 15px;

}
.button1 {
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
  }
  
.button1:hover {background-color: #e7e7e7;}

/* feature sections*/

.trans-logo {
    width: 100px;
    height: 100px;
   
}
#feature {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;

}

#feature .fe-box {
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgb(0, 0, 0, 0.03);
    border: 1px solid rgba(115, 129, 142, 0.358);
    border-radius: 4px;
    margin: 15px 0px; 
}

#feature .fe-box:hover {
    box-shadow: 10px 10px 54px rgba(0, 0, 0, 0.257);

}

#feature .fe-box h6 {
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: antiquewhite;
    background-color: salmon;
}

#feature .fe-box:nth-child(2) h6 {
    color: rgb(178, 167, 151);
    background-color: rgb(252, 205, 77);
}

#product1 {
    text-align: center;
}
 
/* product in row */
#product1 .pro-container {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    flex-wrap: wrap;


}

#product1 .pro {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 2px solid #e7e7e7;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgb(0, 0, 0, 0.03);
    margin: 15px 0px;
    transition: 0.2s ease;
    position: relative;

}

#product1 .pro:hover {
    box-shadow: 20px 20px 30px rgba(99, 97, 97, 0.12);

}
#product1 .pro img {

    width: 100%;
    border-radius: 20px;

}

#product1 .pro .description {
    text-align: start;
    padding: 10px 0;

}
#product1 .pro .description span {

    color: rgb(216, 220, 218);
    font-size: 12px;

}

#product1 .pro .description h5 {
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;

}

#product1 .pro .description i {
    font-size: 12px;
    color: rgb(252, 205, 77);
}

#product1 .pro .cart {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    color: rgb(86, 107, 250);
    font-size: 12px;
    border: 1px solid rgb(86, 107, 250);
    position: absolute;
    bottom: 20px;
    right: 10px;



}

#banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(img/banner.png) ;
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;

}

#banner h4 {
    color: #fff;
    font-size: 16px;
}

#banner h2 {
    color: #fff;
    font-size: 30px;
    padding: 10px 0px;
}

#banner h2 span {
    color: orange;
}

#banner button:hover {
    background-color: rgb(250, 229, 201);
    color: white;
}

#sm-banner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

#sm-banner .banner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url(img/banner.png) ;
    min-width: 580px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 30px;

}

#sm-banner .banner-box h4 {
    color: #fff;
    font-size: 30px;

}

#sm-banner h2 {
    color: #fff;
    font-size: 28px;
}

#sm-banner span {
    color: #fff;
}

#sm-banner .banner-box:hover button {
    background-color: antiquewhite;
    border: 1px solid antiquewhite;
    color: white;
}