@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap');

/* GLOBAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;


}

h1 {
    font-size: 50px;
    line-height: 64px;
    color: black;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: black;
}

h4 {
    font-size: 30px;
    color: black;

}

h6 {
    font-weight: 600;
    font-size: 12px;
}

p {
    font-size: 16px;
    color: rgb(80, 173, 255);
    margin: 15px 0 20px 0;
}

.section-p1 {
    padding: 40px 80px;
}
.section-m1 {
    margin: 40px 0;
}

button.normal {
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #1a1a1a;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;

}

button.white {
    font-size: 14px;
    font-weight: 600;
    padding: 11px 18px;
    color: #1a1a1a;
    background-color:   transparent;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid white;
    outline: none;
    transition: 0.2s;

}

body {
    width: 100%;
}

.logo {
    width: 100px;
    height: 80px;
}

/* header starts */

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:  5px 50px;
    background-color: azure ;
    box-shadow: 0 5px 25px rgba(146, 146, 146, 0.562);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;

}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

/* shopping bag*/
#navbar li a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 200;
    color: rgb(83, 111, 135);
    transition: 0.3s ease;

}

#navbar li a:hover,
#navbar li a.active {
    color: rgb(203, 211, 218);

}
/* navbar underline*/
#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 40px;
    height: 2px;
    background: rgb(203, 211, 218);
    position: absolute;
    bottom: -4px;
    left: 20px;
}

/* mobile menu */
#mobile {
    display: none;
    align-items: center;
}

#close {
    display: none;
}


/* hero section*/

#hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("img/herobg.webp");
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: top 5% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#hero h4 {

    padding-bottom: 15px;

}
#hero h1 {

    color:rgb(42, 32, 32);
}

.button {
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 15px;

}
.button1 {
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
  }
  
.button1:hover {background-color: #e7e7e7;}

/* feature sections*/

.trans-logo {
    width: 100px;
    height: 100px;
   
}
#feature {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;

}

#feature .fe-box {
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgb(0, 0, 0, 0.03);
    border: 1px solid rgba(115, 129, 142, 0.358);
    border-radius: 4px;
    margin: 15px 0px; 
}

#feature .fe-box:hover {
    box-shadow: 10px 10px 54px rgba(0, 0, 0, 0.257);

}

#feature .fe-box h6 {
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: antiquewhite;
    background-color: salmon;
}

#feature .fe-box:nth-child(2) h6 {
    color: rgb(178, 167, 151);
    background-color: rgb(252, 205, 77);
}

#product1 {
    text-align: center;
}
 
/* product in row */
#product1 .pro-container {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    flex-wrap: wrap;


}

#product1 .pro {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 2px solid #e7e7e7;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgb(0, 0, 0, 0.03);
    margin: 15px 0px;
    transition: 0.2s ease;
    position: relative;

}

#product1 .pro:hover {
    box-shadow: 20px 20px 30px rgba(99, 97, 97, 0.12);

}
#product1 .pro img {

    width: 100%;
    border-radius: 20px;

}

#product1 .pro .description {
    text-align: start;
    padding: 10px 0;

}
#product1 .pro .description span {

    color: rgb(216, 220, 218);
    font-size: 12px;

}

#product1 .pro .description h5 {
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;

}

#product1 .pro .description i {
    font-size: 12px;
    color: rgb(252, 205, 77);
}

#product1 .pro .cart {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    color: rgb(86, 107, 250);
    font-size: 12px;
    border: 1px solid rgb(86, 107, 250);
    position: absolute;
    bottom: 20px;
    right: 10px;



}

#banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(img/banner.png) ;
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;

}

#banner h4 {
    color: #fff;
    font-size: 16px;
}

#banner h2 {
    color: #fff;
    font-size: 30px;
    padding: 10px 0px;
}

#banner h2 span {
    color: orange;
}

#banner button:hover {
    background-color: rgb(250, 229, 201);
    color: white;
}

#sm-banner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

#sm-banner .banner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url(img/banner.png) ;
    min-width: 580px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 30px;

}

#sm-banner .banner-box h4 {
    color: #fff;
    font-size: 30px;

}

#sm-banner h2 {
    color: #fff;
    font-size: 28px;
}

#sm-banner span {
    color: #fff;
}

#sm-banner .banner-box:hover button {
    background-color: antiquewhite;
    border: 1px solid antiquewhite;
    color: white;
}
#banner3 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0px 80px;
}

#banner3 .banner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url(img/banner.png) ;
    min-width: 30%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin-bottom: 20px;
}

#banner3 .banner-box h2 {
    color: #fff;
    font-size: 22px;
}

/* Newsletter */

#newsletter {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: azure ;
    background-position: 20% 30%;
    background-repeat: no-repeat;
    
}

#newsletter h4 {
    font-size: 22px;
}
#newsletter .form{
    display: flex;
    width: 40%;
}
#newsletter input{
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

}

#newsletter button {
    background-color: gray;
    color: antiquewhite;
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;



}

/* Footer sec */
footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer .logo {
    margin-bottom: 30px;
}

footer h4 {
    font-size: 14px;
    padding-bottom: 20px;
}

footer p {
    font-size: 13px;
    margin: 0 0 8px 0;

}

footer a {
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}

footer .follow {
    margin-top: 20px
}

footer .follow i {
    color: gray;
    padding: 4px;
    cursor: pointer;
}

footer .install img {
    margin: 10px 0 15px 0;
}
/* follow section hover, and links hover */
footer .follow i:hover,
footer a:hover {
    color: rgb(74, 71, 255);
}

.copyright {
    width: 100%;
    display: flex;
    justify-content: center;
}

@media (max-width:799px) {
    .section-p1 {
        padding: 40px 40px;
    }
    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: bisque;
        box-shadow: 0 40px 60px rgb(0, 0, 0, 0.01) ;
        padding: 80px 0 0 10px;
        transition: 0.3s;

    }
    #navbar.active {
        right: 0px;
    }

    #navbar li{
        margin-bottom: 25px;
    }
    #mobile {
        display: flex;
        align-items: center;
    }

    #mobile i {
        color: #1a1a1a;
        font-size: 25px;
        padding-left: 20px;

    }

    #close {
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #222;
        font-size: 22px;
        }

    #bag {
        display: none;
    }

    #hero {
        height: 70vh;
        padding: 0 80px;
        background-position: top 30% right 30%;
    }
    #feature {
        justify-content: center;
    }
    #feature .fe-box {
       margin: 15px;
    }
    #product1 .pro-container {
        
        justify-content: center;
        
    }
    #product1 .pro {
        margin: 15px;
    }
    #banner {
        height: 20vh;
    }
    #sm-banner .banner-box {
       
        min-width: 100%;
        height: 30vh;
       
    }
    #banner3 {
        padding: 0px 40px;
    }
    #banner3 .banner-box {
       width: 28%;
    }
    #newsletter .form {
        width: 60%;
    }



}

@media (max-width: 477px) {
    .section-p1 {
        padding: 20px;
    }
    #header {
        padding: 10px 30px;
    }
    h1 {
        font-size: 38px;
    }
    h2 {
        font-size: 32px;
    }

    #hero {
        padding: 0 20px;
        background-position: 55%;
    }
    #feature {
        justify-content: space-between;
    }
    #feature .fe-box {
        width: 155px;
        margin: 0 0 15px 0;
    }
    #feature div:nth-child(5) {
       margin-left: 100px;
    }
    #product1 .pro {
        width: 100%;

    }
    #banner {
        height: 40vh;
    }
    #sm-banner .banner-box {
        height: 40vh;
        margin-top: 10px
    }
    #banner3 {
        padding: 0 20px;
    }
    #banner3 .banner-box {
        width: 100%;
    }
    #neswletter {
        padding: 40px 20px;

    }
    #newletter .form {
        width: 100%;

    }
    .row img {
        
        margin-left: 80px;
    }
    
        



}

/* SHOP PAGE */

#page-header {
    background-image: url("img/page-header.png");
    width: 100%;
    height: 60vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}

#page-header h2,
#page-header p {
    color:  black;
    font-weight: 600;
    font-size: 55px;

}

#pagination {
    text-align: center;

}
#pagination a {
    text-decoration: none;
    background-color: rgb(227, 227, 227);
    padding: 15px 20px;
    border-radius: 4px;
    color: #fff;
    font-weight: 600;
}

#pagination a i {
    font-size: 16px;
    font-weight: 600;
}